body {
    color: #000080;
    background-color: #fff;
}

a {
    color: #800080;
}

a:visited {
    color: #ff0000;
}


article {
    display: inline-block;
}

header {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-variant: small-caps;
}

.geico {
    text-align: center;
}

section {
	width:100%; 
	height: 1px; 
	background-color: grey;
}

/*
-What is important to know when linking an external file (like a stylesheet) to an HTML file?
	You need to get the path correct or else the files won't influence each other. Make sure you are linking the correct file.

-What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
	With CSS, the display and text-align commands were important. There is a lot that can be used to get everything in the correct place though. 
	I'm sure there are many tricks we did not think of that might have done a better job. Personally, I did find it hard to get everything exactly
	in the correct position as according to the website. I also thought, that some of what we did in CSS was better suited to be done in HTML, like
	the line breaks, <hr>. I could be wrong though.

-What CSS did you use to modify the element style (like size, color, etc.)
	font-weight to make it bold. font-variant to capitalize some letters but at the same time keep them small in actual size like their lowercase counterparts. 

-Did you modify the HTML to include classes or ids? If so, which did you chose and why? If you didn't, how would you know which one to add to your HTML?
	We used classes to modify multiple lines in the HTML. I suppose we chose class because we needed to apply the CSS to multiple things rather than just one.

-When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
	I thought it was a mix of both. According to FireFox devtools the Berkshire site didn't even use CSS. According to best practices, the styling done within the HTML
	is frowned upon. Personally, if a page is so simple I don't see the reason in creating a CSS page, but I guess that's why I'm a rookie. I don't fully understand how to implement CSS
	in a concise manner.

*/