body {
    color: #000080;
    background-color: #fff;
}

a {
    color: #800080;
}

a:visited {
    color: #ff0000;
}


article {
    display: inline-block;
}

header {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-variant: small-caps;
}

.geico {
    text-align: center;
}

section {
	width:100%; 
	height: 1px; 
	background-color: grey;
}